body{
  background-color: #f19e2048;
}
.App {
  text-align: center;
  padding: 20px;
  font-family: 'sans-serif';
}

.restaurant-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin: 16px 0;
  cursor: pointer;
  background-color: white;
  width: 200px;
  box-shadow:2px 0 10px rgba(156, 154, 154, 0.658);
}

.restaurant-card h2 {
  margin-top: 0;
}

button {
  margin: 5px;
  padding: 5px 10px;
  background-color: #ff9800;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #e68900;
}

input[type="text"],
input[type="number"] {
  padding: 8px;
  margin: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

form {
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  .restaurant-card {
    padding: 8px;
  }

  input[type="text"],
  input[type="number"] {
    width: 100%;
  }
}

